*{
    margin:0;
    padding:auto;
}
body{
    background-color: #548678;
    text-align: center ;
}
.container{
    height: 70vh;
    display:flex;
    align-items:center;
    justify-content:center; 

}
.game{
    height:60vmin;
    width: 60vmin;
    display:flex; 
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap:1.3vmin;

}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
    font-size:8vmin;
    color:#b0413e;
    background-color: bisque;
}
#reset-button{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:#fff;
    border-radius:1rem;
}
#new-button{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #57574a;
    color:#fff;
    border-radius:1rem;
}
#msg{
    color:#fff;
    font-size:5vmin ;
}
.msgcon{
    height:35vmin;
}
.hide{
    display:none;
}
.hid{
    display:none;
}